body {
    font-family: georgia, times, serif;
    color:#333;
    font-size: 1.0rem;
    line-height: 1.5em;
    margin:0;
    text-align: center;
     background-image: linear-gradient((90deg, rgba(2,0,36,1) 0%, rgba(29,164,200,1) 50%, rgba(0,212,255,1) 100%);
     background-size: 500%;
}
h1 {
    font-size: 2rem;
    line-height: 1.3em;
}
p {
 margin-bottom: 1.6em;
}
.container {
 width: 85%;
 max-width: 850px;
 margin: 0 auto;
}

.header {
  background: rgb(175, 120, 58);
  color: white;
  padding: 2rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
.header a {
    color: white;
    text-decoration: none;
}   
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    letter-spacing: 5px;
    font-size: 1.3em;
}
.menu-icon {
    display: none;
} 
.navigation ul {
    margin:0;
    padding:0;
    list-style:none;
}
 .navigation ul li{
    display: inline-block;
 }
  .navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4 s linear;
    border-radius: 5px;
  }
   .navigation ul li a:hover {
    background: #9c9a9a;
   }
.main{
    padding-top:11rem;
}
.footer{
    background: rgb(175, 120, 58);
    padding: 1rem 0;
    text-align: center;
    margin-top: 2rem;
}
@media only screen and (max-width: 767px) {
    
    .menu-icon {
      display: block;
      cursor: pointer;
      padding: 0.5rem 1rem;
    } 
    .navigation {
      width: 100%;
      margin-top: 1rem; 
     } 
     .navigation ul {
        display: none;
     }
     .navigation ul.show {
        display: block;    
     }
      .navigation ul li{
        display: block;
       }
        .navigation ul li a{
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4 s linear;
        border-radius: 5px;
        }
        .navigation ul li a:hover {
        background: #9c9a9a;
         }  
}
